.Cock {
    position: relative;
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    /*background-color: #61dafb;*/
}

.textContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*background-color: rgba(206, 17, 38, 0.3);*/
}

.textP {
    flex-direction: row;
    justify-content: flex-start;
    text-align: justify;
    font-size: xxx-large;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 0 50vh;
}
